<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>

    <%- include('partials/header') %>
    <main>
    <h1 id="title">Temperature Calculator 2022</h1>
    <form method="post" action="/temperature" autocomplete="off">
        <br> <input id="bar" type="text" name="city" placeholder="Ville" required>
        <div>
        <ol id="suggestion" class="gradient-list"></ol>
        </div>
        <input type="submit" value="Rechercher">
    </form>
    </main>
    <footer>

    </footer>
    <script>
    const r = async data => {
        const { data: { result } } = await axios.post("/suggestion", { city: data });
        console.log(result);
        document.getElementById("suggestion").innerHTML = "";
        result.forEach(city => {
        document.getElementById("suggestion").innerHTML += `
            <li>
            <p>${city}</p>
            </li>
            `;
            });
        document.querySelectorAll('li').forEach(li => {

            li.addEventListener('click', e => {
            document.getElementById("bar").value = e.target.textContent.trim();
                });
            });
        };

    const bar = document.getElementById("bar");
    bar.addEventListener("blur", ()=> {
        r(document.getElementById("bar").value);
    })


    bar.addEventListener("change", ()=> {
        r(document.getElementById("bar").value);
    })

    bar.addEventListener("focus", ()=> {
        r(document.getElementById("bar").value);
    })

    bar.addEventListener("keyup", ()=> {
        r(document.getElementById("bar").value);
        if(document.getElementById("bar").value === "") {
            document.getElementById("suggestion").innerHTML= ""
        }
    })

    bar.addEventListener("paste", ()=> {
        r(document.getElementById("bar").value);
    })
    

    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>